Repository Creditas/challenge, pull requests merged in 2020-09, with the labels that each got.

#257 First step joining challenges
  backend/java/README.md
  backend/java/build.gradle
  backend/java/gradle/wrapper/gradle-wrapper.jar
  backend/java/gradle/wrapper/gradle-wrapper.properties
  backend/java/gradlew
  backend/java/gradlew.bat
  backend/java/settings.gradle
  backend/java/src/main/java/Address.java
  backend/java/src/main/java/Customer.java
  backend/java/src/main/java/Invoice.java
  backend/java/src/main/java/Order.java
  backend/java/src/main/java/OrderItem.java
  backend/java/src/main/java/Product.java
  backend/java/src/main/java/ProductType.java
  backend/java/src/test/java/OrderTest.java
  backend/kotlin/README.md
  backend/kotlin/README_English.md
  backend/kotlin/bootstrap.kt
  backend/kotlin/bootstrap.py
  backend/kotlin/bootstrap.rb
Labels: backend

#259 Adds front end pair programming challenge
  .DS_Store
  frontend/.DS_Store
  frontend/individual-assignment/.DS_Store
  frontend/individual-assignment/.babelrc
  frontend/individual-assignment/.editorconfig
  frontend/individual-assignment/.eslintrc
  frontend/individual-assignment/.gitignore
  frontend/individual-assignment/README.md
  frontend/individual-assignment/README_English.md
  frontend/individual-assignment/__mocks__/styleMock.js
  frontend/individual-assignment/__tests__/index.spec.js
  frontend/individual-assignment/config/setupTest.js
  frontend/individual-assignment/layout.png
  frontend/individual-assignment/package-lock.json
  frontend/individual-assignment/package.json
  frontend/individual-assignment/public/favicon.ico
  frontend/individual-assignment/public/index.html
  frontend/individual-assignment/server.js
  frontend/individual-assignment/src/index.js
  frontend/individual-assignment/src/styles.css
  frontend/individual-assignment/webpack.config.js
  frontend/individual-assignment/yarn.lock
  frontend/pair-programming/.gitignore
  frontend/pair-programming/README.md
  frontend/pair-programming/babel.config.js
  frontend/pair-programming/jest.config.json
  frontend/pair-programming/package-lock.json
  frontend/pair-programming/package.json
  frontend/pair-programming/src/__tests__/index.spec.js
  frontend/pair-programming/src/index.js
Labels: frontend

#265 Rename directory and code style
  backend/individual-assignment/README.md
  backend/individual-assignment/README_English.md
  backend/individual-assignment/bootstrap.kt
  backend/individual-assignment/bootstrap.py
  backend/individual-assignment/bootstrap.rb
  backend/pair-programming/README.md
  backend/pair-programming/build.gradle
  backend/pair-programming/gradle/wrapper/gradle-wrapper.jar
  backend/pair-programming/gradle/wrapper/gradle-wrapper.properties
  backend/pair-programming/gradlew
  backend/pair-programming/gradlew.bat
  backend/pair-programming/settings.gradle
  backend/pair-programming/src/main/java/Address.java
  backend/pair-programming/src/main/java/Customer.java
  backend/pair-programming/src/main/java/Invoice.java
  backend/pair-programming/src/main/java/Order.java
  backend/pair-programming/src/main/java/OrderItem.java
  backend/pair-programming/src/main/java/Product.java
  backend/pair-programming/src/main/java/ProductType.java
  backend/pair-programming/src/test/java/OrderTest.java
  frontend/pair-programming/README.md
Labels: backend, frontend
